<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="AWSProfileName" value="Ikrito-Fulfilment-Platform-App"/>
		<add key="AWSAccessKey" value="AKIASPWFMGKNZGZALSAP"/>
		<add key="AWSSecretKey" value="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"/>

	</appSettings>
</configuration>